@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
.header {
  @include horizontalAlign;
  justify-content: space-between;
  //   padding: 20px 40px;
  color: $primary-color;

  &__logo {
    @include horizontalAlign;
    // background-color: black;
    &__name {
      margin-left: 10px;
      font-weight: 600;
      font-size: 20px;
      font-family: Quicksand;
    }
  }
  &__links {
    &__list {
      @include horizontalAlign;
      list-style: none;
      &__item {
        margin: 0 15px;
        height: 20px;
        padding: 10px 0;
        position: relative;
        display: inli;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border-bottom: 2px solid transparent;
        // width: 5px;
        a {
          color: $primary-color;
          text-decoration: none;
          font-size: 15px;
          font-weight: 500;
        }
        &::after {
          content: "";
          border: 2px solid;
          margin: 10px;
          width: 5px;
          margin-bottom: 0;
          visibility: hidden;
          transform: scaleX(0);
          transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),
            0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
            0.2s transform cubic-bezier(0, 0, 0.1, 1);
        }
        &:hover::after {
          visibility: visible;
          transform: scaleX(1);
        }
        &:hover {
          align-items: center;
          padding: 10px 0;
          opacity: 0.5;
        }
      }
      .true::before {
        visibility: visible;
        content: " ";
        border: 2px solid $primary-color;
        // margin: 10px;
        width: 15px;
        margin-bottom: -31px;
        position: absolute;
        opacity: 1;
        transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),
          0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
          0.2s transform cubic-bezier(0, 0, 0.1, 1);
      }
    }
  }
  &__action {
    @include horizontalAlign;
    &__button,
    p {
      @include horizontalAlign;
      border-radius: 25px;
      min-width: 80px;
      padding: 15px 30px;
    }
    p:hover {
      background-color: rgba(255, 255, 255, 0.15);
      //   padding: 5px;
      cursor: pointer;
    }
    &__button {
      @include horizontalAlign;
      height: 45px;
      outline: none;
      margin-left: 20px;
      padding: 2px;
      background-color: $primary-color;
      border: none;
    }
  }
}
