$primary-color: #fff;
$secondary-color: #000;
$aux-color: #fedc;
$alternate-color: green;

$width-xs: 0;
$width-sm: 544px;
$width-md: 750px;
$width-lg: 1012px;
$width-xl: 1280px;

@mixin mobile {
  @media (max-width: #{$width-md}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$width-md}) and (max-width: #{$width-lg - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$width-lg}) {
    @content;
  }
}

@mixin horizontalAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}
