@use "../../styles/variables.scss" as m;
.home-container {
  background-image: url("https://a0.muscache.com/im/pictures/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg?im_w=2560");
  height: 90vh;
  padding: 10px 5em;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100vw;
  box-sizing: border-box;
  img {
    position: absolute;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center bottom;
    vertical-align: bottom;
  }
  .call-to-action {
    @include m.horizontalAlign();
    flex-direction: column;
    position: relative;
    top: 40%;
    h4 {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
    button {
      all: unset;
      background-color: m.$primary-color;
      cursor: pointer;
      display: inline-block;
      margin: 0px;
      position: relative;
      text-align: center;
      text-decoration: none;
      border-color: black;
      width: auto;
      background: lightgrey;
      color: black;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
        Helvetica Neue, sans-serif;
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
      border-radius: 54px;
      border-width: 1px;
      border-style: solid;
      outline: none;
      padding: 14px 24px 14px 24px;
      -webkit-transition: box-shadow 0.2s ease-out,
        -webkit-transform 0.2s ease-out, transform 0.2s ease-out;
      -moz-transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
      transition: box-shadow 0.2s ease-out, -ms-transform 0.2s ease-out,
        -webkit-transform 0.2s ease-out, transform 0.2s ease-out;
      -webkit-tap-highlight-color: transparent;
      border: initial;
      box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
      background-color: #ffffff;
      padding: 14.5px 32px;
      span {
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
        background: -moz-linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
        background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
        -webkit-background-clip: -webkit-text;
        -webkit-background-clip: text;
      }
    }
  }
}
